<% include ../partials/header %>
<div class="row">
    <div class="col-md-12 text-center">
        <h1> Admin Dashboard</h1>
        <button><a href="/admin/user/register">Create User</a></button>
        <button><a href="#">Delete User</a></button>
        <button><a href="/admin/customer/create">New Customer</a></button>
        <button><a href="/customers">Customers</a></button>
        
        
        
    </div>
</div>

<% include ../partials/footer %>